<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://slsfun01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/aa1ffc62-3768-4fc6-ade8-c25b0259c11d/resourceGroups/pGroupA/providers/Microsoft.Web/sites/slsfun01</ResourceId>
    <UserName>$slsfun01</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://slsfun01.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>